# Daniel0108's bot
TheDarkForce.py

# Python compiled
*.pyc

# Logs, Factoids, Goodies, Channels, and so on...
*.txt

# TheEyes' and nyuszika7h's bot files (mode commit)
iForceBot.py

# Users
users/*.txt
