# Daniel0108's bot
TheDarkForce.py

# Python compiled
*.pyc

# Logs, Factoids, Goodies, Channels, and so on...
*.txt

# TheEyes' bot files (mode commit)
iForceBot.py

# MichealH's bot.
MHMirror.py

# vim swap files
*.swp

# No idea what is this, probably also related to vim
*.swo

# Lock files
~*
*~

# Mkaysi's bot.
OtusForceBot.py
