# Daniel0108's bot
TheDarkForce.py

# Python compiled
*.pyc

# Logs, Factoids, Goodies, Channels, and so on...
*.txt
users/*
# TheEyes' bot files (mode commit)
iForceBot.py

# MichealH's bot.
MHMirror.py
